.total{
  background-color:white;
}

/*Tipografía oficial*/
@font-face {
font-family: dusha;
src: url(../assets/fonts/dusha.ttf);
}

#splash{
  height: 90vh;
  width: 70vw;
  margin: auto;
  margin-top: 35%;
}

#main{
  margin: auto;
  height: 100vh;
  width: 70vw;
  margin-top: 20%;
}
.input-field{
  color: #FFF;
}
.btn-access{
  width: 100%;
  height: 5vh;
  box-shadow: 3px 3px #ede8e8;
  background-color: rgb(255, 255, 255);
  border: solid 3px #f44447;
  border-radius: 1vh;
  margin: 3%;
}



/*Estilos del nav*/
#nav {
  background-color: #bf161b;
}

.brand-logo {
  font-family: dusha;
}

/*Estilos header*/
#header {
  box-sizing: border-box;
  width: 100%;
}

/*Estilos 1er tab PARTIDOS*/
#main-matches {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

#matches {
  box-sizing: border-box;
  display: inline-block;
  padding: 1em;
  width: 92%;
}

#groups {
  box-sizing: border-box;
  display: inline-block;
  width: 8%;
  position: fixed;
}

.groups {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  height: 9vh;
  padding-top: 4vh;
}

.flag {
  display: inline-block;
  height: 3vh;
}

.score-match {
  border: 1px solid #A8A8A8;
  margin: 0 1em;
  padding: 0.2em 0.3em;
}

.team-name {
  margin: 0 0.4em;
}

.team-list {
  height: 8vh;
}


/*Estilos 3er tab PULPO PAUL*/
#question-paul {
  font-size: 1.5em;
  margin: 0;
}

#image-answer {
  height: 30vh;
  padding-top: 2vh;
  width: 90%;
}

#btn-answer-paul {
  background: none;
  border: 1px solid #bf161b;
  border-radius: 5px;
  color: #bf161b;
}


#main-matches{
  margin-top: 10%;
}


.side-nav{
  margin-top: 1%;
}


/*Estilo de apuestas*/
.bet {
  color: black;
}



/*Clases footer Terminos y condiciones*/
.terms{
  padding: 2em;
  text-align: justify;
}
.acepto-fondo{
  background-color: #bf161b;
}

.acepto-btn{
  background: #f44447;
}


/*Estilos 4ta tab ESTADISTICAS*/
.team-info .col {
  border-bottom: 0.5px solid red;
}

.team-info .row {
  margin: 0;
}

.team-info h6{
  display: inline-block;
}

.team-info span {
  font-size: 0.7em;
}


/*Tarjeta*/
.example.example4 {
  background-color: #f6f9fc;
}

.example.example4 * {
  font-family: Inter UI, Open Sans, Segoe UI, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.example.example4 form {
  max-width: 496px !important;
  padding: 0 15px;
}

.example.example4 form > * + * {
  margin-top: 20px;
}

.example.example4 .container {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 3px;
}

.example.example4 fieldset {
  border-style: none;
  padding: 5px;
  margin-left: -5px;
  margin-right: -5px;
  background: rgba(18, 91, 152, 0.05);
  border-radius: 8px;
}

.example.example4 fieldset legend {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #8898aa;
  padding: 3px 10px 7px;
}

.example.example4 .card-only {
  display: block;
}
.example.example4 .payment-request-available {
  display: none;
}

.example.example4 fieldset legend + * {
  clear: both;
}

.example.example4 input, .example.example4 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  color: #fff;
}

.example.example4 input:-webkit-autofill {
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example4 #example4-card {
  padding: 10px;
  margin-bottom: 2px;
}

.example.example4 input {
  -webkit-animation: 1ms void-animation-out;
}

.example.example4 input::-webkit-input-placeholder {
  color: #9bacc8;
}

.example.example4 input::-moz-placeholder {
  color: #9bacc8;
}

.example.example4 input:-ms-input-placeholder {
  color: #9bacc8;
}

.example.example4 button {
  display: block;
  width: 100%;
  height: 37px;
  background-color: #d782d9;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

.example.example4 button:active {
  background-color: #b76ac4;
}

.example.example4 .error svg .base {
  fill: #e25950;
}

.example.example4 .error svg .glyph {
  fill: #f6f9fc;
}

.example.example4 .error .message {
  color: #e25950;
}

.example.example4 .success .icon .border {
  stroke: #ffc7ee;
}

.example.example4 .success .icon .checkmark {
  stroke: #d782d9;
}

.example.example4 .success .title {
  color: #32325d;
}

.example.example4 .success .message {
  color: #8898aa;
}

.example.example4 .success .reset path {
  fill: #d782d9;
}
