.total{
  background-color:white;
}

/*Tipografía oficial*/
@font-face {
font-family: dusha;
src: url(../assets/fonts/dusha.ttf);
}

#splash{
  height: 90vh;
  width: 70vw;
  margin: auto;
  margin-top: 35%;
}

#main{
  margin: auto;
  height: 100vh;
  width: 70vw;
  margin-top: 20%;
}
.input-field{
  color: #FFF;
}
.btn-access{
  width: 100%;
  height: 5vh;
  box-shadow: 3px 3px #ede8e8;
  background-color: rgb(255, 255, 255);
  border: solid 3px #f44447;
  border-radius: 1vh;
  margin: 3%;
}



/*Estilos del nav*/
#nav {
  background-color: #bf161b;
}

.brand-logo {
  font-family: dusha;
}

/*Estilos header*/
#header {
  box-sizing: border-box;
  width: 100%;
}

/*Estilos 1er tab PARTIDOS*/
#main-matches {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

#matches {
  box-sizing: border-box;
  display: inline-block;
  padding: 1em;
  width: 92%;
}

#groups {
  box-sizing: border-box;
  display: inline-block;
  width: 8%;
  position: fixed;
}
 
.groups {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  height: 9vh;
  padding-top: 4vh;
}

.flag {
  display: inline-block;
  height: 3vh;
}

.score-match {
  border: 1px solid #A8A8A8;
  margin: 0 1em;
  padding: 0.2em 0.3em;
}

.team-name {
  margin: 0 0.4em;
}

.team-list {
  height: 8vh;
}


/*Estilos 3er tab PULPO PAUL*/
#question-paul {
  font-size: 1.5em;
  margin: 0;
}

#image-answer {
  height: 30vh;
  padding-top: 2vh;
  width: 90%;
}

#btn-answer-paul {
  background: none;
  border: 1px solid #bf161b;
  border-radius: 5px;
  color: #bf161b;
}


#main-matches{
  margin-top: 12%;
}

.side-nav{
  
}


/*Clases footer Terminos y condiciones*/
.terms{
  padding: 2em;
  text-align: justify;
}
.acepto-fondo{
  background-color: #bf161b;
}

.acepto-btn{
  background: #f44447;
}


/*Estilos 4ta tab ESTADISTICAS*/
.team-info .col {
  border-bottom: 0.5px solid red;
}

.team-info .row {
  margin: 0;
}

.team-info h6{
  display: inline-block;
}

.team-info span {
  font-size: 0.7em;
}
