<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Win Russia</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <style>


  </style>
</head>
<body id="help">
	<div class="row">
		<h5>Preguntas frecuentes</h5>
		<div class="col s12 m5">
			<ul class="collapsible" data-collapsible="accordion">
			    <li>
			      <div class="collapsible-header  indigo lighten-4"><i class="material-icons">help</i>Primera pregunta</div>
			      <div class="collapsible-body"><span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span></div>
			    </li>
			    <li>
			      <div class="collapsible-header  indigo lighten-4"><i class="material-icons">help</i>Segunda pregunta</div>
			      <div class="collapsible-body"><span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></div>
			    </li>
			    <li>
			      <div class="collapsible-header  indigo lighten-4"><i class="material-icons">help</i>Tercera Pregunta</div>
			      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></div>
			    </li>
			    <li>
			      <div class="collapsible-header  indigo lighten-4"><i class="material-icons">help</i>Cuarta Pregunta</div>
			      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></div>
			    </li>
			    <li>
			      <div class="collapsible-header  indigo lighten-4"><i class="material-icons">help</i>Quinta Pregunta</div>
			      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></div>
			    </li>
			    <li>
			      <div class="collapsible-header  indigo lighten-4"><i class="material-icons">help</i>Sexta Pregunta</div>
			      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></div>
			    </li>
			</ul>			
		</div>
	</div>
	<div class="row">
		<p>¿Necesitas más información?</p>
		<h5>Contacto</h5>
	  <div class="col s8 m5">
	    <div class="card-panel indigo lighten-4">
	      <span class="t">	      	
	      	<p>contacto@winrussia.com</p>
	      	<p>Tonalá #10 <br>Cuahutemoc, CDMX <br>CP: 09090 <br> México </p>
	      </span>
	    </div>
	  </div>
	  <a class="waves-effect waves-light btn indigo lighten-4"><i class="material-icons">backspace</i>Cerrar</a>	  
	</div>


	
	        






<!-- SCRIPTS -->

  <!-- firabase -->
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>


  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/api.js"></script>
  <script type="text/javascript" src="../js/statistics.js"></script>




</body>
</html>
